.containeractivclient {
    display: flex;
    flex-direction: column;
    
}

.hautdepage {
    display:flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    margin: 2em;
    margin-top: 5em;
   
}

.presentationactivite {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 3em;
}

.basdepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
}

.contact {
    border-color: solid black;
    border-style: double;
    border-width: 5px;
}

.resumficheactivite {
    border-color: solid black;
    border-style: double;
    border-width: 5px;
    margin: 3em;
}


#carouselExample {
    align-self: center;
    width: 40em; 
}