.logo-main-img{
    width: 250px;
}

.back-orange{
    background: rgb(254, 172, 6);
}

.back-blue{
    background: rgb(10,131,168)
}

.text-orange{
    color: rgb(254, 172, 6)
}

.text-blue{
    color: rgb(10,131,168)
}

nav ul li:hover a {
    color: rgb(10,131,168);
}